mixin ss()
 block

+ss.
  {
    "root": {
      "title": "Some",
      "type": "question",
      "variants": [
        {
          "title": "Yes",
          "type": "answer",
          "kind": "affirmative",
          "ref": "step-01"
        },
        {
          "title": "No",
          "type": "answer",
          "kind": "negative",
          "ref": "step-02"
        },
        {
          "title": "No",
          "type": "answer",
          "kind": "negative",
          "ref": "step-03"
        }
      ]
    },
    "step-01": {
      "title": "Finish",
      "type": "finish"
    },
    "step-02": {
      "title": "Other",
      "type": "question",
      "variants": [
        {
          "title": "Yes",
          "type": "answer",
          "kind": "affirmative",
          "ref": "step-01"
        },
        {
          "title": "No",
          "type": "answer",
          "kind": "negative",
          "ref": "step-03"
        }
        
      ]
    },
    "step-03": {
      "title": "additional",
      "type": "question",
      "variants": [
        {
          "title": "Yeeeees",
          "type": "answer",
          "kind": "affirmative",
          "ref": "step-04"
        },
        {
          "title": "Noooooo",
          "type": "answer",
          "kind": "negative",
          "ref": "step-04"
        }
      ]
    },
    "step-04": {
      "title": "Finish",
      "type": "finish"
    }
  }