
<html>
  <head> 
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
  </head>
  <body>
    <div id="app">
      <test></test>
      <pre>{{ tests }}</pre>
    </div>{% set tests = ["hello", "world", "!"] %}
    <ul>{% for test in tests %} 
      <li>{{test}}
      </li> {% endfor %}
      <div class="loader"> 
        <div class="bubble bubble--violet">
        </div>
        <div class="bubble bubble--aquamarine">
        </div>
        <div class="bubble bubble--pink">
        </div>
        <div class="bubble bubble--green">
        </div>
        <div class="bubble bubble--lavender">
        </div>
        <div class="row"> 
          <div class="toggler-lines">
            <div class="toggler-lines__line">
            </div>
          </div>
          <div class="toggler-rounds"> 
            <div class="toggler-rounds__dot">
            </div>
            <div class="toggler-rounds__dot">
            </div>
            <div class="toggler-rounds__dot">
            </div>
          </div>
        </div>
        <div class="info">
          <p class="info__temperature">29 &deg;
          </p>
          <p class="info__text">Sunny
          </p>
        </div>
      </div>
    </ul>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>