
<html>
  <head> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
  </head>
  <body>
    <div id="app">{% for post in object_list %} 
      <vue-accordion id="{{ loop.index }}">
        <template #default="{ style: { icon }, toggleActive }">
          <div id="{{ loop.index }}">
            <div class="head" @click="toggleActive">
              <h2>{{post.title}}
              </h2>
              <p>{{post.text}}
              </p>
              <pre>{{ icon }}</pre>
            </div>
            <div class="body">{% if post.published_date %} <span>{{post.published_date|date('D d M o')}}</span> {% endif %}<a href="{{ url( 'post_detail', pk=post.pk ) }}">Read more </a>
            </div>
          </div>
        </template>
      </vue-accordion> {% endfor %}
    </div>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>