
[
  {
    "main": {
      "temp": 10,
      "feels_like": 3,
      "pressure": 1020,
      "sea_level": 1020,
      "grnd_level": 1016,
      "humidity": 90,
      "temp_kf": 1.34
    },
    "weather": {
        "id": 804,
        "main": "Clouds",
        "description": "overcast clouds"
    },
    "clouds": {
      "all": 100
    },
    "wind": {
      "speed": 5.19,
      "deg": 211
    },
    "time": "09:00"
  },
  {
    "main": {
      "temp": 5,
      "feels_like": 2,
      "pressure": 1020,
      "sea_level": 1020,
      "grnd_level": 1016,
      "humidity": 90,
      "temp_kf": 1.34
    },
    "weather": [
      {
        "id": 804,
        "main": "Drizzle",
        "description": "rain and drizzle"
      }
    ],
    "clouds": {
      "all": 70
    },
    "wind": {
      "speed": 5.19,
      "deg": 211
    },
    "time": "12:00"
  },
  {
    "main": {
      "temp": 15,
      "feels_like": 20,
      "pressure": 1020,
      "sea_level": 1020,
      "grnd_level": 1016,
      "humidity": 90,
      "temp_kf": 1.34
    },
    "weather": [
      {
        "id": 804,
        "main": "Clear",
        "description": "clear and sunny"
      }
    ],
    "clouds": {
      "all": 0
    },
    "wind": {
      "speed": 5.19,
      "deg": 211
    },
    "time": "15:00"
  },
  {
    "main": {
      "temp": 12,
      "feels_like": 12,
      "pressure": 1020,
      "sea_level": 1020,
      "grnd_level": 1016,
      "humidity": 90,
      "temp_kf": 1.34
    },
    "weather": [
      {
        "id": 804,
        "main": "Partly sunny",
        "description": "sunny with clouds"
      }
    ],
    "clouds": {
      "all": 30
    },
    "wind": {
      "speed": 5.19,
      "deg": 211
    },
    "time": "18:00"
  }
]